[submodule "solidity/foundry/lib/forge-std"]
	path = solidity/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/test-f/lib/forge-std"]
	path = solidity/test-f/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/foundry/fund-me/lib/forge-std"]
	path = solidity/foundry/fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/foundry/fund-me/lib/foundry-devops"]
	path = solidity/foundry/fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "solidity/foundry/LotteryContract/lib/forge-std"]
	path = solidity/foundry/LotteryContract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/foundry/LotteryContract/lib/chainlink-brownie-contracts"]
	path = solidity/foundry/LotteryContract/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
